@font-face {
    font-family: 'PoppinsR';
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

body{
    font-family: 'PoppinsR';
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow: hidden; */
}

main{
    flex-grow: 1;
}

footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #121212, #121212, #14703b);
    color: white;
    padding-bottom: 10px;
    padding-top: 50px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    flex-grow: 1;
}

#footer{
    background-color: #14703b;
    background-image: url(../images/pattern-bg-img.png);
}

.raw{
    width: 100%;
    margin: 5px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#section{
    flex-basis: 25%;
    padding: 10px;
}

#section:nth-child(2), #section:nth-child(3){
    flex-basis: 15%;
}

.footer-logo{
    width: 250px;
    margin-bottom: 30px;

}

#section h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    text-decoration: none;
    color: #0CC359;
}

.social-icons{
    width: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

iframe{
    width: fit-content;
    position: relative;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}