@font-face {
    font-family: 'PoppinsBL';
    src: url(../fonts/poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: 'PoppinsSB';
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}

#home-section-1{
    display: flex;
    position: relative;
    flex-grow: 1;
    /* background-color: #0CC359; */
    font-family: 'PoppinsBL';
    background-image: url(../images/pattern-bg-img.png);
    overflow: hidden;
}

#home-section-1 h1{
    color: #0CC359;
}

#home-section-1 h4{
    color: #fff;
}

body{
    display: flex;
    /* justify-content: space-between; */
    background-image: url(../images/bg-img2.jpg);
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

/* .home-section-1-img{
    width: 500px;
} */

.main{
    /* display: flex;
    padding: 10px;
    justify-content: space-between; */
    align-items: center;
}

#home-carousel-img{
    width: fit-content;
    max-height: 550px;
    overflow: hidden;
}

#home-join-btn {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0CC359;
    color: #fff;
    transition: background-color 0.1s ease-in-out;
    border-radius: 250px;
    font-size: 16pt;
}

#home-join-btn:hover{
    background-color: #fff;
    color: #0CC359;
}

.home-welcome-section{
    text-align: right;
    padding-top: 200px;
    padding-right: 30px;
    padding-left: 20px;
}

.section-titles{
    text-align: center;
    margin: 100px 0;
    color: #fff;
    font-family: 'PoppinsSB';
}

#home-section-2{
    background-color: #14703b;
    font-family: 'PoppinsSB';
    background-image: url(../images/pattern-bg-img.png);
    overflow: hidden;
    padding: 50px 0;
}

.search-bar{
    margin: 20px;
}

.search-bar input{
    height: 70px;
    border-radius: 50px;
    /* box-shadow: #000; */
}

.search-bar button{
    width: 200px;
    height: 70px;
    border-radius: 50px;
}

#search-btn{
    background-color: #0CC359;
    color: #fff;
    font-size: 18pt;
}

#search-btn:hover{
    background-color: #000000;
    color: #0CC359;
}

#home-section-3{
    /* background-color: #0CC359; */
    font-family: 'PoppinsSB';
    background-image: url(../images/pattern-bg-img.png);
    overflow: hidden;
}

#home-section-4{
    background-color: #14703b;
    font-family: 'PoppinsSB';
    background-image: url(../images/pattern-bg-img.png);
    overflow: hidden;
    padding-bottom: 100px;
}

#home-section-5{
    display: flex;
    position: relative;
    flex-grow: 1;
    /* background-color: #0CC359; */
    font-family: 'PoppinsBL';
    background-image: url(../images/pattern-bg-img.png);
}

#home-section-5 h1{
    color: #0CC359;
}

#home-section-5 h4{
    color: #fff;
}

.home-blog-section{
    text-align: left;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 20px;
}

#home-blog-btn {
    width: 400px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0CC359;
    color: #fff;
    transition: background-color 0.1s ease-in-out;
    border-radius: 250px;
    font-size: 16pt;
}

#home-blog-btn:hover{
    background-color: #fff;
    color: #0CC359;
}

#home-section-6{
    background-color: #14703b;
    font-family: 'PoppinsSB';
    background-image: url(../images/pattern-bg-img.png);
    overflow: hidden;
}

nav{
    font-family: 'PoppinsSB';
    font-size: 14pt;
    font-weight: 900;
}

#membership-title{
    color: #0CC359;
}

#membership-plans{
    align-items: center;
    padding-bottom: 100px;
}

#membership-plans .card h4{
    /* color: #fff; */
    font-family: 'PoppinsSB';
}

#membership-plans .card h5, p{
    /* color: #fff; */
    font-family: 'PoppinsR';
    font-size: 12pt;
    padding: 10px;
}

#plan-bronze{
    background-color: #CD7F32;
    font-family: 'PoppinsR';
    height: 600px;
    border-radius: 30px;
}

#plan-silver{
    background-color: #C0C0C0;
    font-family: 'PoppinsR';
    height: 600px;
    border-radius: 30px;
}

#plan-gold{
    background-color: #FFD700;
    font-family: 'PoppinsR';
    height: 600px;
    border-radius: 30px;
}

#plan-subscribe-btn{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background-color: #0CC359;
    color: #fff;
    transition: background-color 0.1s ease-in-out;
    border-radius: 250px;
    font-size: 16pt;
}

#plan-subscribe-btn:hover{
    background-color: #fff;
    color: #0CC359;
}

#bmi-calc div input{
    width: 400px;
    height: 100px;
    border-radius: 25px;
    padding: 30px;
    margin: 10PX;
    border: none;
}

#bmi-calc div button{
    width: 100%;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #0CC359;
    color: #fff;
    transition: background-color 0.1s ease-in-out;
    border-radius: 250px;
    font-size: 16pt;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#bmi-calc div button:hover{
    background-color: #fff;
    color: #0CC359;
}

#feedback-card{
    background-color: #fff;
    font-family: 'PoppinsR';
    height: 250px;
    border-radius: 30px;
}

.img-fluid{
    width: 500px;
}