@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins";
}

#contact-body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D0D0D;
    color: #FFF;
    background-image: url(../public/images/contact-bg.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

nav{
    font-size: 14pt;
    font-weight: 600;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

h2 {
    color: #2ECC71;
    font-size: 40pt;
    font-weight: 700;
    padding-top: 50px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 50px 0;
}

.contact-form {
    width: 45%;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background-color: #0CC359;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 30px;
}

.contact-form button:hover{
    background-color: #0D0D0D;
    color: #0CC359;
}

.contact-details {
    width: 45%;
    text-align: left;
}

.social-links {
    margin-top: 15px;
}

.social-links a {
    color: #2ECC71;
    text-decoration: none;
    font-weight: bold;
}
