@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins";
}

#login-body{
    background-image: url(../public/images/login-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;
    overflow-x: hidden;
}

nav{
    font-size: 14pt;
    font-weight: 600;
}

.login-text-section{
    text-align: right;
    padding-top: 200px;
    padding-right: 30px;
    padding-left: 20px;
}

.login-text-section h1{
    font-size: 40pt;
    font-weight: 700;
    color: #0CC359;
    background-color: #000000;
    padding: 30px 20px;
}

.login-text-section h4{
    font-size: 30pt;
    font-weight: 500;
    color: #fff;
    background-color: #000000;
    padding: 30px 20px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-image: url(../public/images/pattern-bg-img.png);
    margin: 100px 0;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.login-form h1{
    font-size: 36pt;
    font-weight: 700;
    color: #0CC359;
}

.login-form label{
    font-size: 20pt;
    font-weight: 500;
    color: #0CC359;
}

.username-input-box{
    background: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.username-input-box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.password-input-box{
    background: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.password-input-box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.password-input-box img{
    width: 35px;
    padding-left: 10px;
    cursor: pointer;
}

.login-form p{
    font-size: 16pt;
    font-weight: 300;
    color: #000000;
    margin-top: 30px;
}

.login-form p a{
    font-size: 16pt;
    font-weight: 300;
}

.btn{
    padding: 15px 30px;
    margin-top: 15px;
    font-size: 20px;
    background-color: #0CC359;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #000000;
    color: #fff;
}

.section-underline{
    width: 100%;
    height: 10px;
    background: #767676;
    border-radius: 3px;
    position: sticky;
    top: 35px;
    left: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.section-underline span{
    width: 20px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}