@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins";
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url(../public/images/pattern-bg-img.png);
    background-color: #14703b;
    background-position: left;
    background-size: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
}

nav{
    font-size: 14pt;
    font-weight: 600;
}

#footer{
    text-align: left;
}

#nutrition-counseling{
    display: flex;
}
  
.nutrition-container {
    max-width: 800px;
    margin: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #121212;
    border: 2px solid #1fd072;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nutrition-container h2 {
    color: #0CC359;
    font-size: 25pt;
    font-weight: 600;
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
    margin-bottom: 50px;
}

li {
    margin-bottom: 10px;
}

.consultation-form {
    max-width: 800px;
    margin: 50px;
    padding: 40px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    border: 2px solid #1fd072;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.consultation-form form {
    max-width: 500px;
    margin: auto;
}

/* .consultation-form input, 
.consultation-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
} */

.consultation-form input, 
.consultation-form textarea {
    width: 100%;
    flex: 1;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #0CC359;
    background-color: #1a1a1a;
    color: #ffffff;
    min-width: 0;
    margin-top: 10px;
}

.consultation-form button {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #0CC359;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.consultation-form button:hover {
    background-color: #FFFFFF;
    color: #0CC359;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h2 {
    color: #0CC359;
    font-weight: 500;
}

.section-underline{
    width: 100%;
    height: 7px;
    background: #767676;
    border-radius: 3px;
    position: sticky;
    top: 35px;
    left: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.section-underline span{
    width: 20px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

.heading-underline {
    width: 100%;
    height: 2px;
    background: #767676;
    border-radius: 3px;
    position: sticky;
    top: 35px;
    left: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.consultation-form .section-underline{
    width: 100%;
    height: 7px;
    background: #767676;
    border-radius: 3px;
    position: sticky;
    top: 35px;
    left: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}