@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins";
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    background-image: url(../public/images/pattern-bg-img.png);
    background-color: #14703b;
    background-position: left;
    background-size: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
}

nav{
    font-size: 14pt;
    font-weight: 600;
    text-align: left;
}

.reset-form {
    background-color: #121212;
    border: 2px solid #0CC359;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    width: 90%;
    padding: 40px 30px;
}

.reset-form h2 {
    color: #2ECC71;
    font-size: 32pt;
    font-weight: 700;
    margin-bottom: 30px;
}

.reset-form input {
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #0CC359;
    background-color: #1a1a1a;
    color: #ffffff;
    margin-top: 15px;
}

.reset-form button {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 30px;
    background-color: #0CC359;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.reset-form button:hover {
    background-color: #ffffff;
    color: #0CC359;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-underline{
    width: 100%;
    height: 7px;
    background: #767676;
    border-radius: 3px;
    position: sticky;
    top: 35px;
    left: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.section-underline span{
    width: 20px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@media (max-width: 768px) {
    .reset-form {
        width: 90%;
        padding: 30px 20px;
    }

    .reset-form h2 {
        font-size: 24pt;
    }

    .reset-form button {
        font-size: 18px;
    }
}